---
import '@/styles/globals.css'
import App from '@/components/App';
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Organ</title>
</head>
<body>
  <App client:load />
</body>
</html>
