---
import '@/styles/globals.css'
import SqlComponent from '@/components/SqlComponent';
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Markdown to HTML Converter</title>
</head>
<body>
  <SqlComponent client:load />
</body>
</html>
