---
import '@/styles/globals.css'
import TwoColumnLayout from '../components/TwoColumnLayout.tsx';
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Markdown to HTML Converter</title>
</head>
<body>
  <TwoColumnLayout client:load />
</body>
</html>
