<div grid-row="" grid-pad="2" grid-gutter="4" grid-responsive="">

<div grid-col="x11" grid-pad="2">
<a href="Scaffolding-Preface" rel="history" class="image-link invert-img"><img width="1920" height="1080" src="/{{image}}" data-mid="143058412" border="0"/></a>
</div>

<div grid-col="x11" grid-pad="2">
<h3><i>{{title}}</i></h3>
<p>{{year}}</p>                            {{{content}}}
</div>

</div>